.left-pane{
    display: flex;
    width: 33.33%;
    min-height: 33.33%;
}

.current-stuff {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0;
}

.flex{
    display: flex;
    margin: 0;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.left-shift{
    margin-left: 33.33%;
}

li{
    list-style: none;
}