main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left-pane{
    position: absolute;
    top:8vh;
    bottom:0;
}

.current-weather{
    display:flex;
    position:absolute;
    margin-left: 30%;
    height: 40%;
}

.forecast{
    display:flex;
    position:absolute;
    margin-left: 30%;
    height: 40%;
    top: 40%
}

article{
    display:flex;
    flex-direction: column;

}

ul{
    list-style: none;
}
